node_modules/
coverage/
playwright-report/
test-results/

package-lock.json
pnpm-lock.yaml

examples/**/node_modules/
examples/
examples/**/.svelte-kit/
examples/**/build/
examples/**/dist/
examples/**/package-lock.json
examples/**/pnpm-lock.yaml

*.png
*.tgz
